PORT=3000
NODE_ENV=production
JWT_SECRET=tu_clave_secreta_jwt_para_produccion
ADMIN_DELETE_KEY=ADM26

# Google Apps Script Integrations
CICLICOS_URL=https://script.google.com/macros/s/AKfycbwpJ5klIWQmhhM4RNgxfG4QabqLOOb2KCVhLPhyIWvHeUsQ39wgHjMt3sHLJo9tH-9p/exec
BARRIDO_URL=https://script.google.com/macros/s/AKfycbysHHX9TYzpV3jDBvcDtcHmCAc0PO3vRpiivGqHz373qr4aB3mfmmcxjtWXhuemv3FyvQ/exec
MENSUALES_URL=https://script.google.com/macros/s/AKfycbyF903sRTv0jkn_nxAFEZogK0cY_sLSMkgJzViImuIgYMaBV_1MSI1hsINhmD43Gro4Cg/exec
SEMANALES_URL=https://script.google.com/macros/s/AKfycbxCEDud8PvY4nF31KusgUAa9HJvTwxTzJQsyrfBcPb1cXp4Gg9vJJh_Xo6hQ91DcgnwZw/exec

# Carpetas Google Drive Oficiales NIBOL
DRIVE_MAIN_FOLDER_URL=https://drive.google.com/drive/folders/1TLSgggQF3yjePujdNQPAYDjnOS_14HS7?usp=sharing
DRIVE_MAIN_FOLDER_ID=1TLSgggQF3yjePujdNQPAYDjnOS_14HS7

DRIVE_LOGO_FOLDER_URL=https://drive.google.com/drive/folders/1ZECgK7i8DAqXH0K3quRqaIlcnbpF7nSe?usp=sharing
DRIVE_LOGO_FOLDER_ID=1ZECgK7i8DAqXH0K3quRqaIlcnbpF7nSe

DRIVE_SNAPSHOTS_FOLDER_URL=https://drive.google.com/drive/folders/1oLK2TWyhG4Pekqd2E6z_DbgQ_mcgdau7?usp=sharing
DRIVE_SNAPSHOTS_FOLDER_ID=1oLK2TWyhG4Pekqd2E6z_DbgQ_mcgdau7

DRIVE_BASE_FILES_FOLDER_URL=https://drive.google.com/drive/folders/1eYg5xYTpWVhgBk_vLDJH3_ZxAMxGc-wY?usp=sharing
DRIVE_BASE_FILES_FOLDER_ID=1eYg5xYTpWVhgBk_vLDJH3_ZxAMxGc-wY

DRIVE_DAMAGED_FOLDER_URL=https://drive.google.com/drive/folders/1q0rRvFpiFXDlXuX97odyz-bVcGZIxwEm?usp=sharing
DRIVE_DAMAGED_FOLDER_ID=1q0rRvFpiFXDlXuX97odyz-bVcGZIxwEm

DRIVE_JUSTIF_FOLDER_URL=https://drive.google.com/drive/folders/1tBlqX8MXyfD6SjQ6aLoViCDqYd_8MK54?usp=sharing
DRIVE_JUSTIF_FOLDER_ID=1tBlqX8MXyfD6SjQ6aLoViCDqYd_8MK54

DRIVE_REFERENCE_FOLDER_URL=https://drive.google.com/drive/folders/1dp0MUZ4HcCSpDejpF5JknWN_09ZCshU6?usp=drive_link
DRIVE_REFERENCE_FOLDER_ID=1dp0MUZ4HcCSpDejpF5JknWN_09ZCshU6

SNAPSHOT_FOLDER_PATH=Nibol/Ciclicosn
REFERENCE_PHOTOS_DIR=./data/fotosreferencias
