# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# Environment variables
.env
.env.local
.env.*.local

# Operating System Files
.DS_Store
Thumbs.db
*.tmp

# Uploads temporales
data/uploads/*
!data/uploads/.gitkeep
